<mat-card *ngIf="items.length > 0">
  <mat-card-title> Items for next order </mat-card-title>
  <mat-card-subtitle>
    <div class="card-title">
      <p>Amount - {{ totalAmount }}</p>
      <p>April - 2021</p>
    </div>
  </mat-card-subtitle>
  <mat-nav-list *ngFor="let item of items">
    <mat-list-item>
      <!-- <div class="item-detail">
        <h3>{{ item.itemName }}</h3>
        <h4>{{ item.itemQuantity }} {{ item.itemUnit }}</h4>
        <button mat-icon-button (click)="onDelete(item.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </div> -->
      <div class="item-detail">
        <h3>{{ item.name }}</h3>
        <h4>{{ item.quantity }} {{ item.unit }}</h4>
      </div>
      <div class="item-amount">
        <h4>Amount</h4>
        <p class="amount">{{ item.amount }} &#8377;</p>
      </div>
      <div class="action-btn">
        <button mat-icon-button>
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="onDelete(item._id)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-list-item>
  </mat-nav-list>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <mat-checkbox (change)="onMarkComplete($event)">Mark Complete</mat-checkbox>
  </mat-card-actions>
</mat-card>

<p *ngIf="items.length <= 0">No Items in current list</p>
